.mrpopover {
  display: none;

  &--open {
    display: block;
  }

  &--right {
    right: 0;
  }
}

.mrpopoverContainer {
  position: relative;

  .mrpopover {
    position: absolute;
    top: 100%;
    background: #fff;
    z-index: 2;
  }
}